[Unit]
Description="Run destroy-vm.service 1d after boot relative to activation time"

[Timer]
OnBootSec=4h
Unit=destroy-vm.service

[Install]
WantedBy=multi-user.target
